.input {
  background-color: lighten($c-gallery, 5);
  border-radius: 22px;
  width: rem(830px);
  justify-content: space-between;
}

.input__field {
  border: none;
  background-color: inherit;

  padding: rem(14px) rem(23px);
  border-radius: 22px;
  outline: none;
  width: 100%;

  &::placeholder {
    color: rgba($c-shark, 0.5);
  }
}

.input__icon {
  padding-right: rem(17px);
}

@include r-max($w-laptop-lg) {
  .input {
    width: 600px;
  }
}

@include r-max($w-laptop-md) {
  .input {
    width: 500px;
  }
}

@include r-max($w-laptop) {
  .input {
    width: 400px;
  }
}

@include r-max($w-tablet) {
  .input {
    width: 350px;
  }
}
