.search-input {
  background-color: lighten($c-gallery, 5);
  border-radius: 22px;
  width: rem(830px);
  justify-content: space-between;
}

.search-input__field {
  border: none;
  background-color: lighten($c-gallery, 5);


  padding: rem(14px) rem(23px);
  border-radius: 22px;
  outline: none;
  width: 100%;
  
  &::placeholder {
    color: rgba($c-shark, 0.5);
  }
}

.search-input__icon {
  padding-right: rem(17px);
}

@include r-max($w-tablet) {
  .search-input {
    width: rem(350px);
  }
}

@include r-max($w-laptop-lg) {
  .search-input {
    width: 400px;
  }
}
