.video-card {
  margin-right: rem(40px);
  width: 250px;
  height: 200px;
  margin-bottom: 40px;
  
  &__cover {
    position: relative;
  }
  
  &__duration {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: rgba($c-black, 0.3);
    color: $c-white;
    border-radius: 12px;
    padding: 3px 9px;
    font-size: 14px;
  }

   &__summary {
    
   }

   &--big {
    width: 540px;
    height: 300px;
   }
  
}

.video-card--big {
  .video-card-thumbnail {
    width: 540px;
    height: 300px;
  }
}

.video-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.video-meta {
  color: $c-silver;
  font-size: 13px;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  &__info {

  }

  &__owner {

  }
}
