.video-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    display: flex;
    align-items: center;
  }

  &__controls {
    margin-right: 10%;
  }
}

@include r-min($w-mobile-sm) {
  @include r-max($w-mobile-lg) {
    .video-list-header {
      display: none;
    }
  }
}
