.video-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    display: flex;
    align-items: center;
  }

  &__controls {
    margin-right: 10%;
  }
}

@include r-max(321px) {
  .video-list-header {
    display: none;
  }
}