.video-card {
  margin-right: rem(40px);
  width: 250px;
  height: 200px;
  margin-bottom: 40px;

  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
  &__cover {
    position: relative;
  }

  &__duration {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: rgba($c-black, 0.3);
    color: $c-white;
    border-radius: 12px;
    padding: 3px 9px;
    font-size: 14px;
  }

  &__summary {
  }

  &--big {
    width: 540px;
    height: 300px;
  }
}

.video-card--big {
}
.video-card-thumbnail--big {
  width: 540px;
  height: 250px;
}

.video-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.video-meta {
  color: $c-silver;
  font-size: 13px;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  &__info {
  }

  &__owner {
  }
}

@include r-min($w-mobile-sm) {
  @include r-max($w-mobile-lg) {
    .video-card {
      width: 288px;
      height: 198px;
      margin-right: 0;
    }

    .video-card--big {
      width: 288px;
      height: 198px;
    }
    .video-card-thumbnail {
      width: 288px;
      height: 150px;
      object-fit: cover;
      border-radius: 12px;
    }

    .video-card__cover {
      width: 288px;
      height: 150px;
    }
  }
}
