// colors (https://chir.ag/projects/name-that-color
$c-black: #000000;
$c-silver: #c2c2c2;
$c-white: #ffffff;
$c-mirage: #19202c;
$c-gray: #898989;
$c-red: #ff0000;
$c-shark: #1f2022;
$c-oxford-blue: #30384c;
$c-gallery: #ebebeb;

// $cols: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

// responsive
$w-mobile-sm: 320px;
$w-mobile-m: 375px;
$w-mobile-lg: 600px;
$w-tablet: 768px;
$w-laptop: 1024px;
$w-laptop-lg: 1440px;
$w-desktop: 1920px;
$w-desktop-xl: 2560px;
