html {
  font-size: 16px;
  
}

body {
  background-color: $c-white;
  box-sizing: border-box;
}

body, input {
font-family: "Mulish", sans-serif;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $c-silver;
  border-radius: 12px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $c-gray;
  border-radius: 12px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $c-black;
}

.sidebar--open {
  + .route-wrapper {
    margin-left: 0;
  }
}

.route-wrapper {
  margin-left: rem(60px);
}

.sidebar-video-wrapper {
  
}

@include r-max($w-mobile-sm) {
  .route-wrapper {
  }
}